Checks: 'clang-analyzer*,modernize-avoid-bind,modernize-concat-nested-namespaces,
        modernize-loop-convert,modernize-macro-to-enum,modernize-use-bool-literals,
        modernize-use-auto,modernize-use-nullptr,modernize-use-override,
        modernize-raw-string-literal,modernize-use-emplace,modernize-pass-by-value
        misc-unused-using-decls,
        misc-unused-alias-decls,
        misc-redundant-expression,
        performance-for-range-copy,
        performance-inefficient*,performance-type-promotion*,
        performance-unnecessary-copy-initialization,
        performance-move-const-arg,
        readability-const-return-type,
        readability-delete-null-pointer,
        readability-redundant-string-cstr,
        readability-simplify*
        -readability-else-after-return,
        -portability-restrict-system-includes,
        -modernize-use-trailing-return-type'
FormatStyle:     file
