Checks: 'clang-analyzer*,
        misc-unused*,
        misc-redundant-expression,
        modernize-avoid-bind,
        modernize-concat-nested-namespaces,
        modernize-loop-convert,
        modernize-macro-to-enum,
        modernize-pass-by-value
        modernize-raw-string-literal,
        modernize-use-auto,
        modernize-use-bool-literals,
        modernize-use-emplace,
        modernize-use-nullptr,
        modernize-use-override,
        performance-avoid-endl,
        performance-for-range-copy,
        performance-inefficient*,
        performance-move-const-arg,
        performance-type-promotion*,
        performance-unnecessary-copy-initialization,
        readability-container-data-pointer,
        readability-container-size-empty,
        readability-const-return-type,
        readability-delete-null-pointer,
        readability-duplicate-include,
        readability-qualified-auto,
        readability-redundant-access-specifiers,
        readability-redundant-declaration,
        readability-redundant-string-cstr,
        readability-redundant-string-init,
        readability-simplify*
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-owning-memory,
        -readability-else-after-return,
        -portability-restrict-system-includes,
        -modernize-use-trailing-return-type'
FormatStyle:     file
