Checks: 'clang-analyzer*,modernize-avoid-bind,modernize-concat-nested-namespaces,
        modernize-loop-convert,modernize-macro-to-enum,modernize-use-bool-literals,
        modernize-use-auto,modernize-use-nullptr,modernize-use-override,
        modernize-raw-string-literal,
        modernize-use-nullptr,
        misc-unused-using-decls,
        -portability-restrict-system-includes,
        -modernize-use-trailing-return-type
        -readability-else-after-return'
FormatStyle:     file
